@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --dark-grey: #4d4e53;
    --light-grey: #99A2A2;
}

body {
    background: #fff;
    color: var(--dark-grey);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin: 10px;
    color: #000;
}

p {
    margin: 20px 0 0 10px;
    font-weight: 400;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 350px;
    border-right: 4px solid var(--light-grey);
    max-height: 100vh;
    background: #fff;
    overflow-y: auto;
    position: relative;
}

nav a {
    text-decoration: none;
    color: var(--dark-grey);
}

nav header{
    position: relative;
    background: #fff;
    opacity: 1;
    z-index: 10;
}

nav ul {
    margin-top:  40px;
}

nav ul li {
    list-style: none;   
    border-top: 1px solid var(--dark-grey);
    padding: 12px 0;
}

nav a {
    padding-left: 20px;
}

nav header {
    text-align: center;
}

main {
    width: 100%;
    padding: 0 40px 60px;
    height: 100vh;
    overflow: auto;
}

main ul li, #inner {
    margin-left: 70px;
    margin-top: 10px;
}

pre {
    white-space: pre-line;
    background: #f7f7f7;
    padding: 0 10px;
    margin: 20px 0 20px 50px;
    border-radius: 4px;
}

section {
    padding: 10px 0;
}



@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    nav, main {
        width: 100%;
    }
    main {
        height: 100%;
    }

    nav {
        overflow-y: auto;
    }

    nav header {
        position: sticky;
    }

    nav ul{
        max-height: 200px;
        
    }

    main {
        padding: 20px 20px 60px;
    }
}